
div{
    background-color: rgb(244, 247, 250);
    text-align: center;
}

.row{
    align-items: center;
    margin-left: 4px;
}


#nombre {
    margin-left: 30px;
    margin-top: 20px;
}


.img-fluid {
    padding: 5px;
    border-radius: 100%;
}