    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4" id="foto_perfil">
        <img src="../../../assets/perfil.jpg" id="foto_perfil">
        <h2 class="fw-normal" id="nombre">SAMANIEGO, Matías Nahuel</h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">

      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
