    <!-- Three columns of text below the carousel -->
  <div class="container text-center">
    <div class="row align-items-center">  
      <div class="col" id="foto_perfil">
         <div class="circulo">
            <img src="../../../assets/perfil.jpeg" class="foto_perfil">
         </div> 
       </div><!-- /.col-lg-4 -->
       <div class="col">
          <h1 class="fw-normal" id="nombre">Matías Nahuel SAMANIEGO</h1>
       </div><!-- /.col-lg-4 -->
       <div class="col" id="info_personal">
          <h2 class="fw-normal">Acerca de mí</h2>
          <p>Vivo en Moreno, Provincia de Buenos Aires. Trabajo en la Universidad Nacional de Moreno. De manera autodidacta, me encuentro aprendiendo programación hace cuatro años.</p>
       </div><!-- /.col-lg-4 -->
    </div>
  </div><!-- /.row -->
