 

<div class="parent">
   <div class="row container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="img">

      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
         <div class="nombre">
            <h2 class="fw-normal" id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
            <p>Full Stack Developer Jr.</p>
         </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">

            <h2 class="fw-normal">Acerca de mí</h2>
            <p>Vivo en Moreno, Provincia de Buenos Aires. Trabajo en la Universidad Nacional de Moreno. De manera autodidacta, me encuentro aprendiendo programación hace cuatro años.</p>

      </div>
   </div>
</div>
<div>   
   <div class="foto">
      <img src="../../../assets/perfil.jpeg" class="img-fluid" id="foto_perfil">
   </div> 
</div>



 <!--
         <button type="button" class="btn btn-primary"
         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Editar texto
      </button> 
      <button type="button" class="btn btn-primary"
      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
      Editar foto
   </button> 
      <button type="button" class="btn btn-primary"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Editar nombre
       </button> 
 <div class="container text-center">
   <div class="row align-items-center">  
     
     <div class="col">
        <div class="foto">
           <img src="../../../assets/perfil.jpeg" class="foto_perfil">
        </div> 
     </div>
     <div class="col nombre">
        Matías Nahuel SAMANIEGO
     </div>
     <div class="col informacion">
        Acerca de mí
        <p>Vivo en Moreno, Provincia de Buenos Aires. Trabajo en la Universidad Nacional de Moreno. De manera autodidacta, me encuentro aprendiendo programación hace cuatro años.</p>
     </div>

    
<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4" id="foto_perfil">
        <div class="circulo">
           <img src="../../../assets/perfil.jpeg" class="foto_perfil">
        </div> 
      </div> 
      <div class="col-xs-12	col-sm-4 col-md-4 col-lg-4">
        <h1 class="fw-normal" id="nombre">Matías Nahuel SAMANIEGO</h1>
     </div>
     <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="info_personal">
        <h2 class="fw-normal">Acerca de mí</h2>
        <p>Vivo en Moreno, Provincia de Buenos Aires. Trabajo en la Universidad Nacional de Moreno. De manera autodidacta, me encuentro aprendiendo programación hace cuatro años.</p>
     </div>
        </div>
 </div>
     -->