<div>
    <a href="https://www.linkedin.com/in/mat%C3%ADas-sama-80bb95247/" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin"></a>
    <a href="https://www.instagram.com/matssama/" target="_blank"><img src="../../../assets/instagram.png" id="instagram"></a>
    <a href="https://www.facebook.com/matias.samaniego.12?mibextid=ZbWKwL" target="_blank"><img src="../../../assets/facebook.png" id="facebook"></a>
    <a href="https://twitter.com/matnaaama" target="_blank"><img src="../../../assets/twitter.png" id="twitter"></a>
    <a href="https://github.com/matnasama" target="_blank"><img src="../../../assets/github.png" id="github"></a>
    <button type="button" class="btn btn-primary"
    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">INGRESAR</button>
</div>
