div {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

.container {
    background-image:linear-gradient(rgb(245, 245, 220),rgba(255, 255, 255, 0)),
    url(../../../assets/tree2.png);
    background-size: 450px;
    height: 250px;
    background-attachment: fixed;
    background-position-x: center;  
    background-position-y: -35px; 

}