
.experiencia {
    padding-top: 20px;
    background-color: rgb(247, 247, 247);
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}
.titulo {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.area {
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}

.institucion {
    vertical-align: middle;
    text-align: center;
    padding: 20px;
}
.antiguedad {
    text-align: center;
}