<div class="experiencia">
    <div class="titulo">
        <h1>EXPERIENCIA</h1>
    </div>

<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h3 class="institucion">UNIVERSIDAD NACIONAL DE MORENO</h3>
            <p class="antiguedad">Febrero 2012 - Actualidad</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h5 class="area">Departamento de Mesa de Entradas</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Realizar tareas administrativas de carácter general. (redacción de notas, archivo, realización de trámites, atención al público)</li>
                <li>Registrar datos, realizar tareas de seguimiento y control de información en registros manuales con soporte papel y/o en los sistemas informáticos utilizados en el área en la cual se desempeña.</li>
                <li>Colaborar en la producción de información requerida por sus superiores.</li>
                <li>Colaborar en la recopilación, resguardo y archivo de información y documentación generada y/o utilizada en la unidad organizativa en la que se desempeña.</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h5 class="area">Departamento de Concursos Docentes</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Realizar tareas administrativas de carácter general. (redacción de notas, archivo, realización de trámites, atención al público)</li>
                <li>Registrar datos, realizar tareas de seguimiento y control de información en registros manuales con soporte papel y/o en los sistemas informáticos utilizados en el área en la cual se desempeña.</li>
                <li>Colaborar en la producción de información requerida por sus superiores.</li>
                <li>Colaborar en la recopilación, resguardo y archivo de información y documentación generada y/o utilizada en la unidad organizativa en la que se desempeña.</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <h5 class="area">Departamento de Alumnos</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Realizar tareas administrativas de carácter general. </li>
                <li>Colaborar en el proceso de admisión e inscripción de aspirantes.</li>
                <li>Colaborar en las tareas inherentes al registro de alumnos.</li>
                <li>Colaborar en las tareas de cambios de especialidad, equivalencias y pases solicitados por los alumnos.</li>
	            <li>Realizar el archivo y organización de las resoluciones y toda la documentación especifica de los alumnos.</li>
                <li>Participar en la producción de información requerida por sus superiores.</li>
            </ul>
        </div>
    </div>
</div>
</div>