<div class="experiencia">
    <div class="titulo">
        <h2>EXPERIENCIA</h2>
    </div>

<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <p class="institucion">UNIVERSIDAD NACIONAL DE MORENO</p>
            <p class="antiguedad">Febrero 2012 - Actualidad</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <p class="area">Departamento de Mesa de Entradas</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <p class="area">Departamento de Concursos Docentes</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores ex vitae nihil error, explicabo in, dolor sint porro laboriosam voluptatum molestias ullam officiis voluptatibus minima.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione labore error culpa blanditiis tempora ex laboriosam molestiae laborum, fugiat odio neque! Incidunt qui consequuntur, illo at alias voluptates quaerat suscipit!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione labore error culpa blanditiis tempora ex laboriosam molestiae laborum, fugiat odio neque!</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <p class="area">Departamento de Alumnos</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <ul>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga autem quibusdam maiores </li>
            </ul>
        </div>
    </div>
</div>
</div>