#logo-ap {
    width: 130px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 5px;
}

img{
    width: 40px;
}

li {
    width: 50px;
    margin-right: 5px;
}

nav {
    background-color: #00358e;
}

.navbar-toggler {
    border: none !important;
    color: white;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


.offcanvas {
    background-color: #00358e;
    --bs-offcanvas-width: 150px;
    place-items: center;
}

@media (min-width: 768px) {
    .text-info {
        --bs-text-opacity: 0;
    }

}

@media (max-width: 768px) {
    .offcanvas-body {
        text-align: center;
    }
    .mb-2 {
        margin-bottom: 0.5rem !important;
        display: grid;
        place-items: center;
    }
}

.login {
    display: grid;
    place-items: center;
}