html, body { height: 100%; }

body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; }

.body {
    font-family: 'Futura Std', sans-serif;                                       
}
                                                