html, body { height: 100%; }

body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif; }

.font1{
    font-family: 'Futura Std', sans-serif;                                       
}
                                                