.titulo {

    margin-bottom: 20px;
    text-align: center;
}
p {
    text-align: center;
}
.informacion {
    padding-top: 20px;
}
.institucion {
    vertical-align: middle;
    text-align: center;
}

.educacion {
        background-color: rgba(152, 196, 240, 0.747);
        margin-left: 10px;
        margin-right: 10px;
}