<div class="educacion">
    <div class="titulo">
        <h2>EDUCACIÓN</h2>
    </div>

<div class="informacion">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3 class="institucion">ESCUELA DE EDUCACIÓN MEDIA NRO. 21</h3>
            <p class="antiguedad">2010</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul>
                <li>BACHILLER CON ORIENTACIÓN EN ECONOMÍA Y GESTIÓN DE LAS ORGANIZACIONES</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3 class="institucion">UNIVERSIDAD NACIONAL DE MORENO</h3>
            <p class="antiguedad">2011 - 2014</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul>
                <li>CONTADOR PÚBLICO NACIONAL</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3 class="institucion">UNIVERSIDAD NACIONAL DE HURLINGHAM</h3>
            <p class="antiguedad">En curso</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul>
                <li>TECNICATURA UNIVERSITARIA EN PROGRAMACIÓN </li>
            </ul>
        </div>
    </div>
</div>
</div>