<div class="row">

    <h1 class="text-center">HARD & SOFT SKILLS </h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'HTML'"
        [imageSrc]="'../assets/HTML.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'CSS'"
        [imageSrc]="'../assets/cssN.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#264de4'"
        [innerStrokeColor]="'#b2e9fe'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'JS'"
        [imageSrc]="'../assets/jsS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#edf40c'"
        [innerStrokeColor]="'#f9f8b7'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'GITHUB'"
        [imageSrc]="'../assets/githuub.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#8d09cf'"
        [innerStrokeColor]="'#e5b7f9'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'INGLÉS'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#c11414'"
        [innerStrokeColor]="'#feb3b3'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [title]="'TRABAJO EN EQUIPO'"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#fb8108'"
        [innerStrokeColor]="'#fdd889'"
        [animation]="true"
        [animationDuration]="900"
        >   
        </circle-progress>
    </div>



</div>    
   