<div class="row">
    <h1 class="text-center">PROYECTOS REALIZADOS</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
            <h1>Oficina Virtual Moodle 4.1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolores. Molestiae, dignissimos. Magnam at necessitatibus neque blanditiis cumque. Assumenda, voluptas? Repellat quae ipsam harum, eius dolorem rerum. Inventore, similique! In?</p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 offset-md-1 parte2">
            <a href="http://campusvirtual.unm.edu.ar/moodle/course/view.php?id=5946&section=0#tabs-tree-start" target="_blank">
                <img src="../../../assets/Departamento de Alumnos.png" class="img-fluid img-proyecto">
            </a>
        </div>
    </div>
</div>